.vscode
.gitignore
.academicbuilding.d
board.d
controller.d
dice.d
gym.d
main.d
observer.d
ownableproperty.d
player.d
residence.d
square.d
subject.d
textdisplay.d
unownableproperty.d
academicbuilding.d
view.d
board.o
controller.o
dice.o
gym.o
main.o
observer.o
ownableproperty.o
player.o
residence.o
square.o
subject.o
textdisplay.o
unownableproperty.o
academicbuilding.o
view.o
a.out
a.out.dSYM/
watopoly
response.o
response.d
squaredisplay.o
squaredisplay.d
academicbuilding.o
